{% extends 'base.html' %}
{% load static thumbnail%}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link rel="stylesheet" href="{% static 'css/code_snippet.css' %}">
{% endblock %}

{% block additional-javascript %}
  <script src="{% static 'js/code_snippet.js' %}"></script>
{% endblock %}

{% block post-navbar %}
  <div class="blog sub-navbar-container">
    <div class="blog sub-navbar">

      <form class="blog search-bar-container" method="get" action="{% url 'blog:entry_list' %}">
        <input class="blog search-bar" type="text" placeholder="Search..." id="search" name="search">
      </form>

      <div class="blog nav-items">
        {% for key, data in blog_nav.items %}
          <a class="blog navbar-item {% if data.active %}active{% endif %}" href="{{ data.url }}">{{ data.label }}</a>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}

