/* GENERAL MARKUP */

body {
  font-size: 0.95em;
  line-height: 180%;
  font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
  overflow-x: hidden;
}

p {
  color: #50555c;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.bottom-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 90%);
}

.frontpage {
  width: 100%;
  margin: 0;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center-container {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 200px;
}

.separator{
  width: 90%;
  height: 1px;
  background-color: #878787;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.content>div {
  position: relative;
  z-index: 20;
  background-color: #D5F5D5;
}
.content>div:nth-child(2n) {
  background-color: white;
}


/* THE INDIVIDUAL SECTIONS */

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-picture {
  margin-top: 30px;
  background-color: white;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color: #EDD1B5;
  /* border-color: #FFB938; */
}

.profile-container h2 {
  margin-bottom: 30px;
}

.about-container, .detail-container{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-item {
  margin-right: auto;
  margin-bottom: 15px;
}

.experience-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.experience-item h3 {
  margin-top: 10px;
}

.experience-item h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

img.experience-image {
  background: white;
  margin: 5px;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
}
.education img.experience-image {
  border-color: white;
}
.experience img.experience-image {
  border-color: #D5F5D5;
}

/*
img.experience-image:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  background: linear-gradient(66deg, rgba(0,255,96,1) 0%, rgba(157,255,29,1) 100%);
  width: 300px;
  height: 300px;
}
*/

.experience-item-content {
  margin-left: 60px;
}

.experience-item-info>div {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.experience-links {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.experience-links>a {
  margin-right: 30px;
  background-color: #f1c453;
  color: white;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.85em;
}

.experience-links>a:hover {
  cursor: pointer;
  opacity: 0.9;
}

.experience-title {
  font-weight: bold;
}

/* THE ABILITY SECTION */

.ability-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.ability-list {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.ability-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.ability-item.secondary {
  padding-left: 20px;
  color: #505050;
}

.ability-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.ability-name {
  flex-grow: 1;
}

.fa-star.checked {
  color: orange;
}

.fa-star.unchecked {
  color: gray;
}

/* THE PROJECTS SECTION */

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 49%;
}

.project-image {
  width: 100%;
  height: auto;
}

/* THE CONTACT SECTION */

.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-item {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-item:hover {
  cursor: pointer;
  transform: scale(1.04);
  color: #f1c453;
}

.contact i {
  font-size: 1.3em;
  margin-right: 10px;
  opacity: 0.8;
}
