{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block css%}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
  <link href="{% static 'css/entry_list.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}

  <div class="frontpage" id="frontpage">
    <frontpage>loading...</frontpage>
  </div>

  <div class="profile">
    <div class="center-container">
      <h1>Profile</h1>
      <div class="separator"></div>
      <div class="profile-container">
        <div class="about-container">
          <h2>About Me</h2>
          <p class="about">{{ profile.about_me|safe }}</p>
        </div>
        <div class="profile-picture-container">
          <img class="profile-picture" src="{{ profile.image_url }}" height="300px" width="300px">
        </div>
        <div class="detail-container">
          <h2>Details</h2>
          <div class="detail-item">
            <strong>Name:</strong>
            <p>{{ profile.name }}</p>
          </div>
          <div class="detail-item">
            <strong>Age:</strong>
            <p>{{ profile.age }}</p>
          </div>
          <div class="detail-item">
            <strong>Location:</strong>
            <p>{{ profile.location }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION LISTS EDUCATION MILESTONES -->
  <div class="education">
    <div class="center-container">
      <h1>Education</h1>
      <div class="separator"></div>
      <div class="experiences-container">
        {% for edu in education reversed %}
          <div class="experience-item">

            <div class="experience-item-info">
              <img class="experience-image" src="{{ edu.image_url }}" width="300px" height="200px">
              <div class="experience-title">{{ edu.image_title }}</div>
              <div class="experience-span">{{ edu.from }} - {{ edu.to }}</div>
            </div>

            <div class="experience-item-content">
              <h3>{{ edu.title }}</h3>
              <p class="experience-description">{{ edu.description | safe }}</p>
              <div class="experience-links">
                {% for link in edu.links %}
                  <a href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
              </div>
            </div>

          </div>
        {% endfor %}
      </div>
    </div>

  </div>

  <!-- SECTION LISTS WORK EXPERIENCES -->
  <div class="experience">
    <div class="center-container">
      <h1>Work Experience</h1>
      <div class="separator"></div>
      <div class="experiences-container">
        {% for exp in experience %}
          <div class="experience-item">

            <div class="experience-item-info">
              <img class="experience-image" src="{{ exp.image_url }}" width="300px" height="200px">
              <div class="experience-title">{{ exp.image_title }}</div>
              <div class="experience-span">{{ exp.from }} - {{ exp.to }}</div>
            </div>

            <div class="experience-item-content">
              <h3>{{ exp.title }}</h3>
              <p class="experience-description">{{ exp.description | safe }}</p>
              <div class="experience-links">
                {% for link in exp.links %}
                  <a href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
              </div>
            </div>

          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- SECTION LISTS ABILITIES WITH A STAR RATING SYSTEM -->
  <div class="abilities">
    <div class="center-container">
      <!-- The general section about abilities. This may consist of multiple sub sections which group the abilities
      roughly by topic -->
      <h1>Abilities</h1>
      <div class="separator"></div>

      <!-- "abilities" is a dict, where the key is the title string for the section and the item is a list of two
      lists. The two lists represent the split between the left and the right display section. These lists then contain
      the dicts which actually describe the individual ability items -->
      {% for title, ability_lists in abilities.items %}
        <h2>{{ title }}</h2>
        <div class="ability-container">
          {% for ability_list in ability_lists %}
            <div class="ability-list">
              {% for ability in ability_list %}
                <div class="ability-item {{ ability.classes|join:' ' }}">
                  <img class="ability-icon" src="{{ ability.icon_url }}">
                  <div class="ability-name">{{ ability.name }}</div>
                  <div class="ability-rating">
                    {% for star in ability.rating %}
                      {% if star %}
                        <span class="fa fa-star checked"></span>
                      {% else %}
                        <span class="fa fa-star unchecked"></span>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    </div>
  </div>

  <!-- SECTION LISTS PROJECT BLOG POSTS WORTH HIGHLIGHTING -->
  <div class="projects">
    <div class="center-container">
      <h1>Projects</h1>
      <div class="separator"></div>
      {% if projects %}
        <div class="projects-container">
          {% for object in projects %}
            <a class="blog entry-item-container" href="{% url "blog:"|add:object.type slug=object.slug %}">

              <div class="blog entry-item type">
                {{ object.fa_icon|safe }}
                {{ object.type|upper }}
              </div>

              <div class="blog entry-item image-container">
                <img class="blog thumbnail" src="{{ object.thumbnail.url }}">
              </div>

              <div class="blog entry-item content-container">
                <h2>{{ object.title }}</h2>
                <h3>{{ object.subtitle }}</h3>
                <div class="blog entry-item description">
                  {{ object.description }}...
                </div>
                <div class="blog entry-item meta-container">
                  <div class="blog entry-item meta author">
                    <i class="fa fa-user"></i>
                    {{ object.author }}
                  </div>
                  <div class="blog entry-item meta date">
                    <i class="fa fa-calendar"></i>
                    {{ object.publishing_date|date:"d F Y" }}
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      {% else %}
        <div>
          No project posts yet...
        </div>
      {% endif %}
    </div>
  </div>

  <!-- MY SCIENTIFIC PUBLICATIONS -->
  <div class="publications">
    <div class="center-container">
      <h1>Publications</h1>
      <div class="separator"></div>
      {% if publications %}
      {% else %}
        <div>
          No publications yet...
        </div>
      {% endif %}
    </div>
  </div>

  <!-- CONTACT OPTIONS, SOCIAL ACCOUNTS? -->
  <div class="contact">
    <div class="center-container">
      <h1>Contact</h1>
      <div class="separator"></div>
      <div class="contact-container">
        {% for contact in contacts %}
          <a class="contact-item" href="{{ contact.href }}">
            {{ contact.icon|safe }}
            <div class="contact-content">{{ contact.content }}</div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  {% render_bundle 'chunk-common' %}
  {% render_bundle 'frontpage' %}

{% endblock content %}
