{% extends 'blog_base.html' %}
{% load static thumbnail %}

{% block content %}
  <div class="center-container">

    <h1 class="blog list-title">
      Recent Posts
    </h1>
    <div class="blog list-separator"></div>

    <div class="entries">
      {% for object in objects %}
      {% if object.type == 'tutorial' %}
      <a class="blog entry-item-container" href="{% url 'blog:tutorial_detail' slug=object.slug %}">
      {% elif object.type == 'project' %}
      <a class="blog entry-item-container" href="{% url 'blog:project_detail' slug=object.slug %}">
      {% endif %}

        <div class="blog entry-item type">
          {% if object.type == 'tutorial' %}
            <i class="fa fa-graduation-cap"></i>
          {% elif object.type == 'project'  %}
            <i class="fa fa-bolt"></i>
          {% endif %}

          {{ object.type|upper }}
        </div>

        <div class="blog entry-item image-container">
          <img class="blog thumbnail" src="{{ object.thumbnail.url }}">
        </div>

        <div class="blog entry-item content-container">
          <h2>{{ object.title }}</h2>
          <h3>{{ object.subtitle }}</h3>
          <div class="blog entry-item description">
            {{ object.description }}...
          </div>
          <div class="blog entry-item meta-container">
            <div class="blog entry-item meta author">
              <i class="fa fa-user"></i>
              {{ object.author }}
            </div>
            <div class="blog entry-item meta date">
              <i class="fa fa-calendar"></i>
              {{ object.publishing_date|date:"d F Y" }}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>

  </div>
{% endblock %}
