{% extends 'blog_base.html' %}
{% load static thumbnail %}

{% block content %}
  <div class="center-container">

    <h1 class="blog list-title">
      {{ title }}
    </h1>
    <div class="blog list-separator"></div>

    <div class="blog entries">
      {% for object in objects %}
      <!-- Depending on the IDE, the following line will probably show a template syntax error, but in reality it is
           works. The code assembles the detail name dynamically for an unknown sub type of the entry model type -->
      <a class="blog entry-item-container" href="{% url "blog:"|add:object.detail_view_name slug=object.slug %}">

        <div class="blog entry-item type">
          {{ object.fa_icon|safe }}
          {{ object.type|upper }}
        </div>

        <div class="blog entry-item image-container">
          <img class="blog thumbnail" src="{{ object.thumbnail.url }}">
        </div>

        <div class="blog entry-item content-container">
          <h2>{{ object.title }}</h2>
          <h3>{{ object.subtitle }}</h3>
          <div class="blog entry-item description">
            {{ object.description }}...
          </div>
          <div class="blog entry-item meta-container">
            <div class="blog entry-item meta author">
              <i class="fa fa-user"></i>
              {{ object.author }}
            </div>
            <div class="blog entry-item meta date">
              <i class="fa fa-calendar"></i>
              {{ object.publishing_date|date:"d F Y" }}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>

  </div>
{% endblock %}
